<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>movie</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<table class="table" style="width: 500px; height: 300px; margin-top: 200px; margin-left: 250px">
    <thead>
    <tr>
        <th scope="col"><b>ID</b></th>
        <th scope="col"><b>NAME</b></th>
        <th scope="col"><b>RATING</b></th>
        <th scope="col"><b>CINEMA</b></th>
        <th scope="col"><b>PLACES</b></th>
        <th scope="col"><b>SESSION</b></th>
        <th>
            <a class="btn btn-primary" th:href="@{save}" role="button" >AddCinema</a>
        </th>
        <th>
            <a href="search">
                <button type="button" class="btn btn-outline-info">search</button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${room.id}"></td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.rating}"></td>
        <td th:text="${room.cinema}"></td>
        <td th:text="${room.places}"></td>
        <td th:text="${room.session}"></td>
        <td><a class="btn btn-primary" th:href="@{/room/find_by_id/{id}(id=${room.id})}" role="button" >Enter</a></td>
        <!--        <td><a class="btn btn-danger" th:href="@{/cinema/update_cinema/{id}(id=${cinema.id})}" role="button" >del</a></td>-->
    </tr>

    </tbody>

</table>

</body>
</html>